<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"  />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <meta charset="UTF-8" />
    <title>New mail</title>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/send">New mail <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ComposeList">New receiver list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/makeOptions">New options </a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Frontpage</h3>
    </div>

    <div class="jumbotron">
        <h3 class="display-4 search">New email:</h3>
        <form th:action="@{/addMail}" enctype="multipart/form-data" method="post">

                <table class="table">
                    <thead class="thead-dark" style="background-color:darkslategray; color: white;">
                        <tr>
                            <td>Click to select list</td>
                            <td>Receiver lists:</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="emp,iterationStatus  : ${receiver}">
                            <td th:text="${iterationStatus.count}">1</td>
                            <td class="clicker" th:text="${emp}">001</td>
                        </tr>

                    </tbody>
                </table>
            <table class="table">
                <thead class="thead-dark" style="background-color:darkslategray; color: white;">
                <tr>
                    <td>Click to select options</td>
                    <td>Available options:</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="opt,iterationStatus  : ${Options}">
                    <td th:text="${iterationStatus.count}">1</td>
                    <td class="clickerOptions" th:text="${opt.nameo}">001</td>
                </tr>
                </tbody>
            </table>

            <input type="text" name="receiver" placeholder="Receiver list" class="receiver form-control" /><br/>
            <input type="text" name="options" placeholder="options" class="options form-control" /><br/>
            <input type="text" name="fromo2" placeholder="From address" class="form-control" /><br/>
            <input type="file" name="file" class="btn btn-dark" /><br/><br/>
            <input type="submit" value="Submit" class="btn btn-dark" />

        </form>

    </div>


    <footer class="footer">
        <p>&copy; CLomez 2018</p>
    </footer>

</div> <!-- /container -->
<script>
    $( ".clicker" ).click(function() {
        var str = $( ".clicker" ).text();
        $( ".receiver" ).val( str );

    });
    $( ".clickerOptions" ).click(function() {
        var str = $( ".clickerOptions" ).text();
        $( ".options" ).val( str );

    });
</script>
</body>
</html>