<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"  />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <meta charset="UTF-8" />
    <title>Sopimus</title>
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/send">New mail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ComposeList">New receiver list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/makeOptions">New options </a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Frontpage</h3>
        <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>

    </div>

    <div class="jumbotron">
        <h3 class="display-4 search">Mailing system:</h3>
        <a type="button" href="/send" class="btn btn-down btn-success">New mail</a>
        <a type="button" href="/ComposeList" class="btn btn-down btn-success">New receiver list</a>
        <a type="button" href="#" class="btn btn-down btn-success">New options</a>

    </div>


    <footer class="footer">
        <p>&copy; Siikli 2017</p>
    </footer>

</div> <!-- /container -->

</body>
</html>