<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"  />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <meta charset="UTF-8" />
    <title>Sopimus</title>
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/send">New mail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ComposeList">New receiver list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/makeOptions">New options <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Frontpage</h3>
        <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>

    </div>

    <div class="jumbotron">
        <h3 class="display-4 search">Mailing system:</h3>
        <form th:action="@{/addOptions}" th:object="${options}" method="post">
            <input type="text" th:field="*{fromo}" th:placeholder="fromo" />
            <input type="text" th:field="*{usernameo}" th:placeholder="Usernameo" />
            <input type="text" th:field="*{passo}" th:placeholder="Password" />
            <input type="text" th:field="*{hosto}" th:placeholder="Host" />
            <input type="text" th:field="*{localhost}" th:placeholder="Localhost" />
            <div class="clearfix">
                <p><input type="submit" value="Submit" /></p>

            </div>
        </form>
    </div>


    <footer class="footer">
        <p>&copy; Clomez 2018</p>
    </footer>

</div> <!-- /container -->

</body>
</html>